<!DOCTYPE html>
<html ng-app='weatherlyio'>
<head>
  <meta charset="utf-8" />
  <title>we.ather.ly.io</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="lib/angular/angular.js"></script>
  <script src="app/app.js"></script>
</head>
<body ng-controller="AppController" >
  <!-- <div class="container"> -->
    <h1> we.ather.ly.io </h1>
    <form ng-submit="submitHandler()">
      <input name="city" type="text" ng-model="query" >
    </form>
    <div class="city" ng-repeat="result in results track by $index"><span>{{ result }}</span></div>
  <!-- </div> -->
</body>
</html>